<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="TW_SID_TOKEN" value="ACf2b092f1a2a644bb9e0ef835cfb45ce9" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TW_AUTH_TOKEN" value="df2bfbcd29b1e814483dcafee6da3406" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TW_PHONE_NUMBER" value="4155992671"
     xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="ApplicationServices"
      connectionString="Server=80ef5c1c-1826-4fb9-b8fe-9fdc01599d12.sqlserver.sequelizer.com;Database=db80ef5c1c18264fb9b8fe9fdc01599d12;User ID=ekojtfpobowyfqtf;Password=EnAEMKyMMREhEqsn22JDyvHw2AHordRmf5NFDcMF85RcPCcTpNfudpVjMdLkckuH;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>