@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
MyDiaText is a text message reminder service designed to improve the effectiveness of the current diabetes education program at the Children’s Hospital of Philadelphia’s Diabetes Center for Children.  
</p><p>Type 1 Diabetes is the second most prevalent chronic disease of young adolescents. The lifestyle and behavior changes necessary for proper diabetes management are a significant challenge for this population. Working with the Diabetes Center for Children, MyDiaText uses popular texting technology to assist newly diagnosed diabetes patients in adapting to this lifelong disease.  
</p><p>With the growing population of adolescents with diabetes, this technology-based intervention may prove more effective than traditional classroom diabetes education alone.  Using this website, patients choose a behavioral goal they wish to modify.  These goals range from counting carbohydrates to establishing healthy exercise habits. 
</p><p>Patients receive text messages throughout the program as a reminder to follow their chosen goal and are also prompted to rate their progress. As patients respond and receive reminder text messages, all activity is logged to their MyDiaText profile. Patients and their families use the online portal to track progress throughout the one-month program. The website also hosts educational quizzes and trivia to provide further diabetes education.  
</p><p>
MyDiaText was designed in collaboration with the University of Pennsylvania’s School of Engineering and Applied Science, University of Pennsylvania’s Nursing School, and the Diabetes Center for Children at the Children’s Hospital of Pennsylvania. 

</p>

<p>
MyDiaText is a UPenn ESE Senior Design project under construction by Valerie Cerasuolo, Kara Hollis, M. Reid Simon, and H. John Stuckey.
</p>



