@model SeniorDesign.Models.RegisterModel
@{
    ViewBag.Title = "MyDiaText - Home";
}

<h2>@ViewBag.Message</h2>
@*<div style="float: left; width:50%">*@
<p>
   MyDiaText is a useful tool that helps you adjust to living with diabetes.  Create a profile to start receiving text message reminders that help you work towards a healthy diabetes lifestyle!
   </p>
@*</div>
<div style="float: right; width:50%">@Html.Partial("/Views/Account/_RegisterPartial.cshtml")</div>
*@

@section HEAD {
<meta name="google-site-verification" content="WPD3Axcz9vALNS_8AIbBBUpsJwvcFaX484TKLiNOK1w" />