<h2>@ViewBag.Title</h2>

<h4>General</h4>
<p>
Here are some links to fun games to play to help learn about diabetes and eating healthy
</p>
<a href="http://www.chop.edu/service/diabetes-center-for-children/home.html">The CHOP Diabetes Center for Children</a><br/>
<a href="http://www.facebook.com/CHOPDiabetesCenter">The CHOP Diabetes Center for Children's Facebook Page</a><br/>
<a href="http://www.childrenwithdiabetes.com">The Family Support Network</a><br/>
<a href="http://www.seas.upenn.edu/~msim/Blood_glucose_log.pdf">Download a Blood Glucose Log (PDF)</a><br />
<a href="https://apps.facebook.com/healthseeker/">Health Seeker Facebook Application</a><br />
<br/>

<h4>Nutrition</h4>
<a href="http://www.calorieking.com/">Calorie King</a><br/>
<a href="http://www.sparkrecipes.com/">Spark Recipes</a><br/>
<br/>

<h4>Injections</h4>
<a href="http://www.bd.com/us/diabetes/page.aspx?cat=7001&id=7282">Injection Site Rotation Information</a><br/>
<a href="http://www.bd.com/us/diabetes/page.aspx?cat=7002&id=10284">Sharps Disposal Information</a><br/>
<br/>

<h4>Medical Alert Bracelets</h4>
<a href="http://www.roadid.com/Common/default.aspx">Road ID</a><br/>
<a href="http://www.laurenshope.com/">Lauren's Hope</a><br/>
<a href="http://ww2.medicalalert.org/">MedicalAlert.org</a><br/>
<br/>

<h4>Diabetes Games</h4>
<a href="http://www.nobelprize.org/educational/medicine/insulin/">Diabetic Dog Game</a><br />
<a href="http://www.diabetes.org.uk/Guide-to-diabetes/My-life/Kids/Fun-stuff/Game">"My Life" with Diabetes: Website with games & trivia</a><br />
<a href="http://www.bayerdiabetes.co.uk/sites/aroundu/ages_10-14/games.aspx">Bayer Health Clinic Games</a><br />
<a href="http://www.nutritionexplorations.org/kids.php">Play60 Games</a><br />
<a href="http://kidshealth.org/kid/closet/index.html#cat122">Kid's Health Games</a><br />
<a href="http://learnenglishkids.britishcouncil.org/en/language-games/multiple-choice/healthy-eating">Healthy Eating Game</a><br />