@using (Html.BeginForm())
{
<fieldset>
    <legend>This quiz has not be implemented yet. Check back soon!</legend>
@*    <legend>@ViewBag.Title</legend>
    <div class="editor-label">
        This is another name for sugars and starches. Your body uses this for energy and needs more of this nutrient than any other.<br />
    </div>
    <div class="editor-field">
        <input type="radio" name="q1" value="carbohydrates" /> Carbohydrates<br />
        <input type="radio" name="q1" value="protein" /> Protein<br />
        <input type="radio" name="q1" value="fat" /> Fat<br />
        <input type="radio" name="q1" value="vitamins" /> Vitamins<br />
        <input type="radio" name="q1" value="water" /> Water
    </div>*@

    @*<form name="input" action="html_form_action.asp" method="POST">*@
    <br />
    <input type="submit" value="Submit" />
    </fieldset>
}