@using (Html.BeginForm())
{
<fieldset>
    <legend>Quiz #9</legend>
@*    <legend>@ViewBag.Title</legend>
    <div class="editor-label">
        This is another name for sugars and starches. Your body uses this for energy and needs more of this nutrient than any other.<br />
    </div>
    <div class="editor-field">
        <input type="radio" name="q1" value="carbohydrates" /> Carbohydrates<br />
        <input type="radio" name="q1" value="protein" /> Protein<br />
        <input type="radio" name="q1" value="fat" /> Fat<br />
        <input type="radio" name="q1" value="vitamins" /> Vitamins<br />
        <input type="radio" name="q1" value="water" /> Water
    </div>*@
<div class="editor-label">In what part of the body is insulin manufactured?</div>
<div class="editor-field">
<input type="radio" name="q1" value="a" /> a)Liver<br />
<input type="radio" name="q1" value="b" /> b)Pancreas<br />
<input type="radio" name="q1" value="c" /> c)Heart<br />
<input type="radio" name="q1" value="d" /> d)Kidney</div>



<div class="editor-label">Type 1 Diabetes is when:</div>
<div class="editor-field">
<input type="radio" name="q2" value="a" /> a)The body is allergic to insulin<br />
<input type="radio" name="q2" value="b" /> b)The body does not use insulin properly.<br />
<input type="radio" name="q2" value="c" /> c)The body does not produce insulin<br />
<input type="radio" name="q2" value="d" /> d)Low Blood Sugar</div>



<div class="editor-label">Type 2 Diabetes is when:</div>
<div class="editor-field">
<input type="radio" name="q3" value="a" /> a)The body fails to properly use insulin<br />
<input type="radio" name="q3" value="b" /> b)The body does not produce insulin<br />
<input type="radio" name="q3" value="c" /> c)The body is allergic to insulin<br />
<input type="radio" name="q3" value="d" /> d)Low Blood Sugar</div>



<div class="editor-label">Sugar that is carried  through the bloodstream is called:</div>
<div class="editor-field">
<input type="radio" name="q4" value="a" /> a)Blood Cells<br />
<input type="radio" name="q4" value="b" /> b)Insulin<br />
<input type="radio" name="q4" value="c" /> c)Red Blood Cells<br />
<input type="radio" name="q4" value="d" /> d)Glucose</div>



<div class="editor-label">What helps the glucose from food get into your cells?</div>
<div class="editor-field">
<input type="radio" name="q5" value="a" /> a)Insulin<br />
<input type="radio" name="q5" value="b" /> b)Sugar<br />
<input type="radio" name="q5" value="c" /> c)Water<br />
<input type="radio" name="q5" value="d" /> d)Hemoglobin</div>



<div class="editor-label">Another name for low blood sugar is:</div>
<div class="editor-field">
<input type="radio" name="q6" value="a" /> a)Hyperglycemia<br />
<input type="radio" name="q6" value="b" /> b)Hypoglycemia<br />
<input type="radio" name="q6" value="c" /> c)Hypertension<br />
<input type="radio" name="q6" value="d" /> d)Hyperopia</div>



<div class="editor-label">Another name for high blood sugar is:</div>
<div class="editor-field">
<input type="radio" name="q7" value="a" /> a)Hyperthyriodism<br />
<input type="radio" name="q7" value="b" /> b)Hypoglycemia<br />
<input type="radio" name="q7" value="c" /> c)Hypertension<br />
<input type="radio" name="q7" value="d" /> d)Hyperglycemia</div>



<div class="editor-label">Is diabetes contagious?</div>
<div class="editor-field">
<input type="radio" name="q8" value="a" /> a)Yes, through the air<br />
<input type="radio" name="q8" value="b" /> b)Yes, by skin contact<br />
<input type="radio" name="q8" value="c" /> c)No<br />
<input type="radio" name="q8" value="d" /> d)Yes, by kissing</div>



<div class="editor-label">Another name for Type 1 diabetes is:</div>
<div class="editor-field">
<input type="radio" name="q9" value="a" /> a)Pre-diabetes<br />
<input type="radio" name="q9" value="b" /> b)Noninsulin-dependent diabetes<br />
<input type="radio" name="q9" value="c" /> c)Gestational diabetes<br />
<input type="radio" name="q9" value="d" /> d)Juvenile diabetes</div>

    <br />        
    <input type="submit" value="Submit" />
    </fieldset>
}