@using (Html.BeginForm())
{
<fieldset>
    <legend>Quiz #5</legend>
@*    <legend>@ViewBag.Title</legend>
	<p>
		The following symptoms are signs of either high blood glucose or low blood glucose.  Please select which they are signs of.
	</p>
    
    <div class="editor-label">
        Less activity than usual<br />
    </div>
    <div class="editor-field">
        <input type="radio" name="q1" value="high" /> High<br />
        <input type="radio" name="q1" value="low" /> Low
    </div>

    <div class="editor-label">
        A late or skipped meal<br />
    </div>
    <div class="editor-field">
        <input type="radio" name="q2" value="high" /> High<br />
        <input type="radio" name="q2" value="low" /> Low
    </div>

    <div class="editor-label">
        Taking more diabetes medicine than your plan allows<br />
    </div>
    <div class="editor-field">
<input type="radio" name="q3" value="high" /> High<br />
<input type="radio" name="q3" value="low" /> Low
</div>

<div class="editor-label">Forgetting to take diabetes medicine<br />
    </div>
    <div class="editor-field">
<input type="radio" name="q4" value="high" /> High<br />
<input type="radio" name="q4" value="low" /> Low
</div>

<div class="editor-label">Being sick<br />
    </div>
    <div class="editor-field">
<input type="radio" name="q5" value="high" /> High<br />
<input type="radio" name="q5" value="low" /> Low
</div>

<div class="editor-label">Increased stress at school or home<br />
    </div>
    <div class="editor-field">
<input type="radio" name="q6" value="high" /> High<br />
<input type="radio" name="q6" value="low" /> Low
</div>

<div class="editor-label">More physical activity than normal<br />
    </div>
    <div class="editor-field">
<input type="radio" name="q7" value="high" /> High<br />
<input type="radio" name="q7" value="low" /> Low
</div>

<div class="editor-label">Eating more carbs than usual<br />
    </div>
    <div class="editor-field">
<input type="radio" name="q8" value="high" /> High<br />
<input type="radio" name="q8" value="low" /> Low
</div>

<div class="editor-label">Eating less than usual<br />
    </div>
    <div class="editor-field">
<input type="radio" name="q9" value="high" /> High<br />
<input type="radio" name="q9" value="low" /> Low
</div>

    <br />
    <input type="submit" value="Submit" />
    </fieldset>
}