@using (Html.BeginForm())
{
<fieldset>
    <legend>Quiz #8</legend>
@*    <legend>@ViewBag.Title</legend>
    <div class="editor-label">
        This is another name for sugars and starches. Your body uses this for energy and needs more of this nutrient than any other.<br />
    </div>
    <div class="editor-field">
        <input type="radio" name="q8" value="carbohydrates" /> Carbohydrates<br />
        <input type="radio" name="q8" value="protein" /> Protein<br />
        <input type="radio" name="q8" value="fat" /> Fat<br />
        <input type="radio" name="q8" value="vitamins" /> Vitamins<br />
        <input type="radio" name="q8" value="water" /> Water
    </div>*@

    <p>The following things need to be checked periodically by a medical professional.  Select how often each thing needs to be checked.</p>
    <div class="editor-label">Eye Exam</div>
    <div class="editor-field">
    <input type="radio" name="q1" value="everyofficevisit" /> Every office visit<br />
    <input type="radio" name="q1" value="everythreemonths" /> Every three months<br />
    <input type="radio" name="q1" value="onceayear" /> Once a year
    </div>

    <div class="editor-label">Microalbumin</div>
    <div class="editor-field">
    <input type="radio" name="q2" value="everyofficevisit" /> Every office visit<br />
    <input type="radio" name="q2" value="everythreemonths" /> Every three months<br />
    <input type="radio" name="q2" value="onceayear" /> Once a year
    </div>
    <div class="editor-label">Foot Exam</div>
    <div class="editor-field">
    <input type="radio" name="q3" value="everyofficevisit" /> Every office visit<br />
    <input type="radio" name="q3" value="everythreemonths" /> Every three months<br />
    <input type="radio" name="q3" value="onceayear" /> Once a year
    </div>

    <div class="editor-label">AIC</div>
    <div class="editor-field">
    <input type="radio" name="q4" value="everyofficevisit" /> Every office visit<br />
    <input type="radio" name="q4" value="everythreemonths" /> Every three months<br />
    <input type="radio" name="q4" value="onceayear" /> Once a year
    </div>

    <div class="editor-label">Weight</div>
    <div class="editor-field">
    <input type="radio" name="q5" value="everyofficevisit" /> Every office visit<br />
    <input type="radio" name="q5" value="everythreemonths" /> Every three months<br />
    <input type="radio" name="q5" value="onceayear" /> Once a year
    </div>



    <div class="editor-label">Cholesterol</div>
    <div class="editor-field">
    <input type="radio" name="q6" value="everyofficevisit" /> Every office visit<br />
    <input type="radio" name="q6" value="everythreemonths" /> Every three months<br />
    <input type="radio" name="q6" value="onceayear" /> Once a year
    </div>

    <div class="editor-label">Flu Shot</div>
    <div class="editor-field">
    <input type="radio" name="q7" value="everyofficevisit" /> Every office visit<br />
    <input type="radio" name="q7" value="everythreemonths" /> Every three months<br />
    <input type="radio" name="q7" value="onceayear" /> Once a year
    </div>

    <div class="editor-label">Blood Pressure</div>
    <div class="editor-field">
    <input type="radio" name="q8" value="everyofficevisit" /> Every office visit<br />
    <input type="radio" name="q8" value="everythreemonths" /> Every three months<br />
    <input type="radio" name="q8" value="onceayear" /> Once a year
    </div>


    <div class="editor-label">Comprehensive Foot Exam</div>
    <div class="editor-field">
    <input type="radio" name="q9" value="everyofficevisit" /> Every office visit<br />
    <input type="radio" name="q9" value="everythreemonths" /> Every three months<br />
    <input type="radio" name="q9" value="onceayear" /> Once a year
    </div>
    <br />
        
    <input type="submit" value="Submit" />
    </fieldset>
}